/* Establece el estilo base para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Centra el contenido principal y limita su ancho al 75% del ancho del navegador */
.contenedor-principal {
    margin: 0 auto;
    width: 75%;
}

/* Estilos para la barra de encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Alinea el contenido del buscador al centro */
.buscador {
    text-align: center;
}

.buscador input {
    width: 350px;
}


/* Añade margen a la izquierda del elemento de inicio de sesión/cierre de sesión */
.login-logout {
    margin-left: 10px;
}

/* Estilos para el botón de inicio de sesión */
.boton-login {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Cambio de color al pasar el ratón sobre el botón de inicio de sesión */
.boton-login:hover {
    background-color: #0056b3;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}

/* Estilos para el contenido principal de la página */
main {
    display: flex;
    justify-content: space-between;
}

/* Columna izquierda, ocupa 2/3 del espacio disponible y tiene un margen a la derecha */
.columna-izquierda {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

/* Estilos compartidos para los elementos principales dentro de la columna izquierda */
.div-principal {
    flex: 1;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para el contenedor que agrupa el texto y el primer botón */
.contenedor-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
    flex: 1;
}

.segunda-columna{
    flex: 3;
}

/* Columna derecha, ocupa 1/3 del espacio disponible */
.columna-derecha {
    flex: 1;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

/* Estilos para el tercer contenedor */
#div3 {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #4CAF50;
    border-radius: 10px;
    max-width: 200px;
    max-height: 100px;
}

/* Estilos para el título dentro del tercer contenedor */
#div3 h2 {
    color: #4CAF50;
    font-size: 18px;
    margin-bottom: 10px;
}

/* Estilos para el botón dentro del tercer contenedor */
#div3 button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-width: 100%;
}

/* Cambio de color al pasar el ratón sobre el botón del tercer contenedor */
#div3 button:hover {
    background-color: #45a049;
}

/* Estilos compartidos para el texto dentro de .texto-div */
.texto-div {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente */
    text-align: center; /* Alinea el texto horizontalmente */
    margin-bottom: 20px;
}

/* Estilos compartidos para los párrafos dentro de .texto-div */
.texto-div p {
    margin: 0;
}

/* Estilos para el botón "Me gusta" */
.boton-like {
    background-color: #ffc107;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

/* Cambio de color al pasar el ratón sobre el botón "Me gusta" */
.boton-like:hover {
    background-color: #ffcd38;
}
