body{
    background-color: rgb(238, 238, 238);
}
.nav-class{
    height: 90px;
 background-color: rgb(63, 201, 223);
 margin-top: -1.03%;
 color: rgb(251, 251, 252);  
}

#Horario{
    position: absolute;
    display:flex ;
    margin-left: 43%;
    color: white;
}
#Contacto{
    display: flex;
    position: absolute;
    margin-left: 55%;
    color: white;
}
ul{
    list-style: none;
}
#img_1{
    margin-left: 1%;
    height: 130px;
}
#ahora{
    position: absolute;
    margin-top: 10%;
    margin-left: -25.4%;
    background-color: black;
    color: white;
    border-radius: 3px 3px 3px 3px;
    height: 40px;
    width: 120px;
}

#txt_parafo{
    margin-left: 1%;
}
#desarollo{
    margin-left:1%;
}


#TU_nombre{
    width: 1340px;
    border-color:white;
    border-radius: 1%;
}
#email{
    position: absolute;
    border-color: white;
    margin-top: 3%;
    margin-left: -98.7%;
    width: 1340px;
}
#cursos{
    position:absolute;
    display: flex;
    color: white;
    margin-left: 33%;
}
#contenedor{
    background-color: white;
}
