* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23564C54' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23FFFFFF'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
}

button {
    border: none;
}


a {
    text-decoration: none;
    color: #fffcf1;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
}

.borde {
    padding-left: 9.5%;
    padding-right: 9%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(20px);
    }
}

.fade-in {
    animation: fadeIn 1.5s ease forwards;
}

.fade-out {
    animation: fadeOut 1.5s ease forwards;
}







/*Nav superior*/

.aparte {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 140vw;
    margin-left: 1.3%;
}

.content {
    display: flex;
    align-items: center;
}

.nav-superior {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0vw 1vw 0.6vw 1vw;
    color: #fffcf1;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s, color 0.3s;
}

#home {
    font-size: 2vw;
    margin-left: -1.5vw;
}

.nav-superior * {
    cursor: pointer;
}

.nav-superior div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-superior .menu {
    color: #fffcf1;
    transition: color 0.3s;
}

.nav-superior .menu:hover {
    color: #ebb40c;
}

#menu .menu:hover {
    color: #ebb40c;
}

.menu {
    padding: 1vw 1.5vw 1vw 1.5vw;
    font-size: 1vw;
}

a.menu {
    color: #fffcf1;
    transition: color 1s;
}

/* Añade estas clases CSS */
.menu-transition {
    transition: transform 1.3s ease-in-out;
    transform: translateY(0);
}

.menu-hidden {
    transform: translateY(-100%);
    opacity: 0;
}


.btn-contrato {
    font-size: 1vw;
    padding: 0.5vw 1.6vw 0.5vw 1.6vw;
    background-color: #000000;
    color: #fffcf1;
    border-radius: 15px;
    transition: transform 0.3s;
}


.btn-contrato:hover {
    transform: scale(1.05);
    color: #ebb40c;
    transition: calc(1000);
}

.btn-contrato:hover {
    transform: scale(1.05);
    color: #ebb40c;
    transition: calc(1000);
}

.btn-contrato-dos:hover {
    transform: scale(1.05);
    color: #ebb40c;
    transition: calc(1000);
}

/* Estilo base del input checkbox oculto */
input[type="checkbox"] {
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}

/* Estilo base del input checkbox oculto */
input[type="checkbox"] {
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}

/* Estilo del contenedor del checkbox */
.check {
    position: relative;
    display: block;
    width: 4vw;
    height: 2vw;
    background-color: #fffcf1;
    /* Fondo inicialmente blanco */
    cursor: pointer;
    border-radius: 2vw;
    overflow: hidden;
    transition: ease-in 0.5s;
}

/* Cambiar el fondo del contenedor cuando el checkbox está marcado */
input[type="checkbox"]:checked~.check {
    background: #092c3e;
    /* Fondo azul cuando marcado */
    border: 2px solid #092c3e;
    /* Borde azul */
}

/* Estilo del círculo que se mueve cuando el checkbox está marcado */
.check::before {
    content: '';
    position: absolute;
    top: 0.2vw;
    left: 0.2vw;
    background-color: #092c3e;
    /* Círculo inicialmente azul */
    width: 1.6vw;
    height: 1.6vw;
    border-radius: 50%;
    transition: 0.5s;
}

input[type="checkbox"]:checked~.check::before {
    transform: translateX(5vw);
    /* Mover a la derecha cuando marcado */
}

/* Estilo del segundo círculo que se mueve cuando el checkbox está marcado */
.check::after {
    content: '';
    position: absolute;
    top: 0.2vw;
    right: 0.2vw;
    background-color: #fffcf1;
    /* Círculo inicialmente blanco */
    width: 1.6vw;
    height: 1.6vw;
    border-radius: 50%;
    transition: 0.5s;
    transform: translateX(-5vw);
    /* Mover a la izquierda cuando marcado */
}

input[type="checkbox"]:checked~.check::after {
    transform: translateX(0vw);
}


/*Quien soy*/

.quien-soy {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 3vw;
}

.info {
    display: flex;

    flex-direction: column;
    padding: 1vw;
    border-radius: 1vw 1vw 1vw 1vw;
}


.info * {
    color: #fffcf1;
}

.info p,
h2,
h3 {
    margin-top: 1vw;
}

.info p {
    color: #555555;
}

.info p * {
    color: #919191;
}

.btns {
    margin-bottom: 2vw;
    margin-top: 2vw;
}

.btn-otro-contrato {
    background-color: #000000;
    color: #fffcf1;
    font-size: 1vw;
    padding: 0.6vw 1.6vw 0.6vw 1.6vw;
    margin-right: 1vw;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0vw 0.4vw 0.6vw 0.1vw #fffcf1;
    transition: background-color 0.2s, box-shadow 0.2s;
    transition: transform 0.3s;
}

.btn-otro-contrato:hover,
.btn-contrato:hover {
    box-shadow: 0vw 0.4vw 0.6vw 0.1vw #fbd53c;
}

.btn-resume {
    background-color: #fff;
    color: #000000;
    font-size: 1vw;
    padding: 0.6vw 1.6vw 0.6vw 1.6vw;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0vw 0.4vw 0.6vw 0.1vw #fffcf1;
    transition: background-color 0.2s, box-shadow 0.2s;
    transition: transform 0.3s;
}

.redes-sociales {
    display: flex;
    background-color: #fff;
    border-radius: 1vw;
    width: 80%;
    /* Cambia esto según tus preferencias */
    padding: 1vh;
    justify-content: space-around;
    /* Distribuir los elementos horizontalmente */
}

.redes-sociales a {
    flex: 1;
    /* Distribuir el espacio disponible entre los elementos */
}

.redes-sociales img {
    max-width: 100%;
    /* Las imágenes se ajustarán al ancho del contenedor */
    height: auto;
    transition: transform 0.3s;
}

.redes-sociales img:hover {
    transform: scale(1.2);
}



.btns button:hover {
    transform: scale(1.1);
}



.img-yo {
    width: 20vw;
    border-radius: 50%;
    margin: 7vw;
}

.info,
.img-yo {
    flex: 1;
}


/*Mis Habilidades*/


.barra {
    width: 100%;
    background-color: #ccc;
    height: 1.5vh;
    border-radius: 1vw;
    position: relative;
}

.progreso-container {
    height: 100%;
    background-color: #b0b0b0;
    border-radius: 1vw;
    position: relative;
}

.progreso {
    height: 100%;
    background-color: #ebb40c;
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
    /* Estilo de texto oculto */
    text-indent: -9999px;
    white-space: nowrap;
    overflow: hidden;
}



.yo h4 {
    padding-top: 4vw;
    font-size: 2vw;
    color: #9ca3af;
    border-bottom: 1px solid #9ca3af;
    margin-bottom: 1vw;
    padding-bottom: 1vh;
}

.yo p {
    color: #747b87;
    font-size: 1vw;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    padding-left: 9.5%;
    padding-right: 9%;
}

.skills- {
    padding-left: 2%;
    padding-right: 2%;
}

.habilidades-2 {
    background-color: #ffffff;
    padding-left: 9.5%;
    padding-right: 9%;
    padding-top: 2vw;
}

.habilidades-3 {
    background-color: #ffffff;
    padding-left: 9.5%;
    padding-right: 9%;
}

.habilidades-2 * {
    color: black;
}

.lenguajes-aprendidos {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 4vw;
}


.mas-info {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}



.info-2 {
    flex: 1;
    color: black;
    padding-left: 9.5%;
    padding-right: 9%;
}

.la-habilidad {
    display: flex;
    align-items: center;
    font-size: 1.3vw;
    margin-bottom: 1vh;
}

.img-lenguajes {
    width: 2.6vh;
    margin-right: 1vw;
}

.aprendi {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60%;
    max-height: 100%;
    margin: 2vw;
    padding: 2vw;
    box-shadow: 0vw 0.4vw 0.6vw rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s, box-shadow 0.2s;
    font-size: 1vw;
    border-radius: 1vw;
}

.aprendi:hover,
.aprenda:hover {
    box-shadow: 0vw 0.6vw 0.8vw rgba(0, 0, 0, 0.2);
    /* Cambia la sombra al pasar el ratón */
}

.aprenda {
    background-color: black;
    color: #fffcf1;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60%;
    max-height: 100%;
    margin: 2vw;
    padding: 2vw;
    box-shadow: 0vw 0.4vw 0.6vw rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s, box-shadow 0.2s;
    font-size: 1vw;
    border-radius: 1vw;
}

.empresas {
    width: 3vw;
    margin-bottom: 1vw;
}


/*MIS TRABAJOS*/

.paginas-web {
    position: relative;
    display: inline-block;
}

.top {
    margin-top: 3vw;
}

.paginas-web a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1vh;
    margin-right: 1vh;
    font-size: 0vw;
    margin-bottom: 1vh;
    color: #000;
}

.paginas-web img {
    width: 24vw;
    height: 13vw;
    border-radius: 0.3vw;
    margin-bottom: 1vh;
}

.paginas-web p {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
    width: 80%;
    font-size: 1.1vw;
}

.paginas-web a:hover img {
    filter: opacity(35%);
}

.paginas-web a:hover p {
    opacity: 1;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center p {
    font-size: 1.3vw;
}







/*PASANTIA*/




.yelloww {
    color: #ecb91b;
}

.info-pasantia .yellow {
    font-size: 1.2vw;
    color: #ecb91b;
}

.info-pasantia .grey {
    font-size: 1vw;
    color: #757c89;
}

.info-pasantia .greyy {
    font-size: 1vw;
    color: #989da7;
}

.juntar {
    display: flex;
    justify-content: center;
    margin-top: 3vw;
    margin-left: -12vw;
}

.pasantia {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pasantia {
    font-size: 2vw;
}

.linea {
    width: 20vw;
    margin-right: -8vw;
}

.img-parrafo {
    display: flex;
}

.img-parrafo div p {
    font-size: 1vw;
}

.info-pasantia {
    width: 25vw;
    border: 1.1px solid #fbd53c;
    border-radius: 1vw;
    padding: 1vw;
    box-shadow: 0vw 0.4vw 0.6vw 0.6vw rgba(0, 0, 0, 0.1);
}

.h3 {
    font-size: 2vw;
}

.info-pasantia * {
    margin-bottom: 0.5vw;
    margin-top: 0.5vw;
}

#pasantia {
    color: #ebb611;
    border: 1px solid #ccc;
    padding: 0.5vw 2vw 0.5vw 2vw;
    border-radius: 1vw;
    box-shadow: 0px 0.4vw 0.6vw 0.1vw rgba(0, 0, 0, 0.1);
    margin-bottom: 4vw;
    margin-left: 10vw;
}


/*CONTACTO*/


.flexx {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 3vw;
}

.info-solicitud {
    display: flex;
    flex-direction: column;
    margin-right: 3vw;
}

.solicitud {
    display: flex;
    align-items: center;
    width: 25vw;
}

.solicitud h5 {
    font-size: 1.4vw;
    width: 17vw;
    margin-top: 1vw;
}

.solicitud h1 {
    font-size: 2.5vw;
    width: 20vw;
    margin-top: 1vw;
}

.solicitud h3 {
    width: 20vw;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.formulario * {
    margin-bottom: 0.5vw;
    margin-top: 0.5vw;
    padding-left: 1vw;
    border: none;
    box-shadow: 0vw 0.4vw 0.6vw 0.2vw rgb(0, 0, 0, 0.1);
}

.formulario input::placeholder {
    font-size: 1vw;
}

.formulario #comentario::placeholder {
    vertical-align: top;
}

.formulario #comentario {
    height: 7vw;
}

.flecha {
    padding: 0vw 0.2vw 0.5vw 0.2vw;
    border-radius: 0.3vw;
    background-color: #fff;
    color: #ebb610;
    font-size: 3vw;
    box-shadow: 0.4vw 0.6vw 0.6vw rgb(0, 0, 0, 0.1);
    margin-left: -3vw;
}

#comentario::placeholder {
    font-size: 1.2vw;
}

#comentario,
#email,
#nombre,
#subjet {
    width: 24vw;
    border-radius: 0.3vw;
    font-size: 1vw;
}


#email::placeholder,
#nombre::placeholder,
#subjet::placeholder {
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}

#email,
#nombre,
#subjet {
    height: 2.5vw;
}

#comentario {
    padding-top: 1vw;
}

.send {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fffcf1;
    background-color: #eab308;
    cursor: pointer;
    border-radius: 0.5vw;
    transition: transform 0.3s;
    font-size: 1vw;
}

.send:hover {
    transform: scale(1.05);
}

.avion {
    width: 2vw;
    border: none;
    box-shadow: none;
}



/*Hablemos*/


.contacto {
    background-color: #facc15;
    padding-left: 9.5%;
    padding-right: 9%;
}

.contacto p {
    font-size: 1.1vw;
}

.centrar {
    display: flex;
    justify-content: center;
}

.redes-sociales-dos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 20vw;
}

.redes {
    display: flex;
    justify-content: space-around;
    width: 20vw;
}

.redes a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.redes p {
    color: #fffcf1;
}

.redes-sociales-dos h2 {
    color: #000;
}

#dos-23 {
    color: #000;
}

.red {
    width: 1.5vw;
}

.red {
    height: auto;
    transition: transform 0.3s;
}

.red:hover {
    transform: scale(1.2);
}