* {
    margin: 0%;
    padding: 0%;
    font-family: Sunborn Sans One;
}

body {
    background-color: black;
    font-size: 1em;
}

.busqueda {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #242424;
}

.buscar {
    display: flex;
    justify-content: start;
    width: 18em;
    color: white;
    padding: 7px;
    background-color: #242424;
    border: 2px solid white;
    border-radius: 25px;
}

.inicio {
    display: flex;
    align-items: center;
    transition: color 0.3s
}

.inicio a:hover {
    transform: translateY(-1.5px);
    color: #A60000;
    transition: color 0.5s;
    text-decoration: underline;
}

.separador {
    background-color: white;
    width: 2px;
    height: 25px;
    margin: 0 10px;
}

.inicio-22 {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
}

.nav-down {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.titulo-pagina {
    color: white;
    font-size: 300%;
}

.span-1 {
    color: #A60000;
}

.apartados {
    display: flex;
    align-items: center;
}

.apartados a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 0px 10px;
}

.apartados a:hover {
    color: #A60000;
    transition: ease-in-out 0.5s;
    text-decoration: underline;
}

.section-productos {
    display: flex;
    justify-content: center;
}

.div-productos {
    display: flex;
}

.producto {
    background-color: #242424;
    border-radius: 25px;
    padding: 20px;
    width: 320px;
    height: 320px;
    margin: 20px;
}

.producto a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 7px 10px;
    border-radius: 25px;
}

.color-secundario {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    background-color: white;
    height: 320px;
}

.precios-oferta {
    display: flex;
}

.precios-oferta p {
    display: flex;
    margin: 0px 20px;
}

.precio-tachado {
    text-decoration: line-through;
    text-decoration-color: #636362;
}

.parte-baja {
    padding: 4px 20px;
}

.parte-baja button {
    border: none;
    background-color: black;
    color: white;
    padding: 7px 15px;
    border-radius: 25px;
    font-size: 15px;
}

.parte-baja button:hover {
    transition: ease-in-out 0.5s;
    transform: scale(1.05);
    color: #A60000;
}

.producto-alineado {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3em;

}

.producto-alineado p {
    cursor: default;
}

.producto-alineado img {
    object-fit: cover;
    transition: transform 0.8s;
    height: 100%;
}

.producto-alineado img:hover {
    transform: scale(1.05);
}

.producto-alineado-creatina {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
}

.producto-alineado-cinturon {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3em;
}

.div-productos {
    object-fit: cover;
    transition: transform 1s;
    height: 100%;
    flex-wrap: wrap;
}

.div-productos:hover {
    transform: scale(1.05);
}

.producto-alineado-creatina img {
    object-fit: cover;
    transition: transform 0.8s;
    height: 100%;
}

.producto-alineado-creatina img:hover {
    transform: scale(1.05);
}

.producto-alineado-cinturon img {
    object-fit: cover;
    transition: transform 0.8s;
    height: 100%;
}

.producto-alineado-cinturon img:hover {
    transform: scale(1.05);
}

.producto-alineado-cinturon img {
    padding: 46px;
}

.oferta-roja-todo {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    cursor: default;
}

.oferta-roja {
    display: flex;
    justify-content: center;
    color: white;
    background-color: #A60000;
    width: 1150px;
    font-size: 25px;
}

.marcas-asociadas {
    color: #A60000;
    font-size: 25px;
    padding: 20px 0px;
}

.best-sellers {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #A60000;
    font-size: 25px;
    cursor: default;
}

.best-sellers hr {
    border: 1px solid #A60000;
    width: 300px;
}

.marcas-asociadas {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #A60000;
    font-size: 25px;
    cursor: default;
}

.marcas-asociadas hr {
    border: 1px solid red;
    width: 400px;
}

.logos-empresas {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.9s ease-in-out;
}

.lifefitness:hover {
    transform: scale(1.02);
}

.hammer:hover {
    transform: scale(1.02);
}


.hammer {
    background: linear-gradient(to top, black, rgba(138, 138, 138, 0.8));
    border-radius: 5px;
    height: 180px;
    display: flex;
    align-items: center;
    margin: 0px 80px;
    border: 2px solid rgb(83, 83, 83);
}

.lifefitness {
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(138, 138, 138, 0.8));
    border-radius: 5px;
    margin: 0px 80px;
    height: 180px;
    display: flex;
    align-items: center;
    border: 2px solid rgb(83, 83, 83);
}

.productos-general {
    margin: 50px 0px;
}

.barra-todo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #A60000;
    height: 100px;
    color: white;
}

.barra a {
    text-decoration: none;
    color: white;
    padding: 0px 15px;
    transition: color 0.3s ease;
}

.barra a:hover {
    text-decoration: underline;
    color: black;
}

.icarus-2023 {
    padding-top: 10px;
    font-size: 1.1em;
    text-decoration: underline;
}

.slider {
    position: relative;
    height: 100%;
    width: 99.8%;
}

.tarjetaCarrusel {
    height: 100%;
}

.flechas-carrusel {
    height: 82%;
    position: absolute;
    top: 0%;
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

}

.flechas-carrusel img {
    width: 5em;
}

.flechas-carrusel a {
    width: 5%;
}

#content-slider {
    height: 25em;
    overflow: hidden;
}

#tarjetaCarusel1 img {
    width: 100%;
    height: 100%;
}

#tarjetaCarusel2 img {
    width: 100%;
    height: 100%;
}

#tarjetaCarusel3 img {
    width: 100%;
    height: 100%;
}

#tarjetaCarusel4 img {
    width: 100%;
    height: 100%;
}