body{
    margin: 0% auto;
    height: 100%;
    background-color: rgb(221, 220, 220);
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: black;
}
nav{
    display: flex;
    color: white;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;

}
nav ul{
    display: flex;
    list-style: none;
    
}
nav li{
    padding-left: 1%;
}
nav h1{
    padding-left: 3%;
}
.hr1{
    border: 2px solid black;
    width: 97%;
}
.h1-1{
    padding-left: 1.5%;
    font-family: Arial, Helvetica, sans-serif;
}
.web{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 18vw;
    padding-left: 1%;
    margin: 1%;
    border-radius: 5px;
    border: 0.5px solid rgb(70, 70, 70);
}
#img1{
    width: 20vw;
}
#boton1{
    width: 10vw;
    height: 2vw;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin-top: 0.5%;
}
#img2{
    width: 8vw;
}
#img3{
    width: 8vw;
}
.comentarios{
    display: flex;
    justify-content: center;
}
.comentarios-n{
    display: flex;
    justify-content: center;
    padding-right: 20%;

}
.comentarios-n h3{
    padding-left: 18%;
}
.horario{
    display: flex;
    flex-direction: column;
    margin: 1.5%;
    padding-top: -10%;
    font-size: 1vw;
}
.horario .ul-Dw{
    list-style: none;
    display: flex;
    margin-top: -0.5vw;
    margin-left: -2vw;
    
}
.horario .ul-pp{
    list-style: none;
    display: flex;
    margin-top: -0.5vw;
    margin-left: -2vw;
}
.inputs{
    display: flex;
    flex-direction: column;
    padding-left: 1.5%;
}
.inputs input{
    margin-top: 1%;
}
.inputs textarea{
    margin-top: 1%;
}

